<div class="content" role="main">
  <h2>ML & JavaScript</h2>
  <p>Test with pre-trained TensorFlow.js model</p>
  <br />
  <div class="video-container">
    <video #video style="display: none;" autoplay [srcObject]="stream" width="640" height="480"></video>
    <div class="draggable" [style.top.px]="position.y" [style.right.px]="position.x"></div>
    <canvas #canvas width="640" height="480"></canvas>
  </div>

  <div class="terminal">
    <pre>{{ logger | json }}</pre>
  </div>

  <!-- 
  <footer>
    Love this?&nbsp;<a href="https://martin.co.ke/ai" target="_blank" rel="noopener"> I've got more</a>
  </footer> 
  -->
</div>